<h2>Повторная отсылка инструкций по подтверждению адреса электронной почты</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Повторно отослать инструкции" %></div>
<% end %>

<%= render "devise/shared/links" %>
