<div class="container">
    <div class="row">
      <div class="span3"></div>
      <div class="span6">
        <h2>Редактирование профиля</h2><br>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>              

  <div>
    <%= f.label :email, "Адрес электронной почты" %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.label :username, "Имя пользователя (прозвище)" %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :full_name, "Ф.И.О" %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'input-xxlarge' %>
    </div> 
  </div>

  <div>
    <%= f.label :address, "Адрес доставки" %>
    <div class="controls">
      <%= f.text_field :address, :class => "input-xxlarge" %>
    </div>
  </div>
  <div><%= f.label :password, "Пароль" %> <i>(оставьте чистым, если не хотите изменить его)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>
  

  <div>
    <%= f.label :password_confirmation, "Подтверждение пароля"%>
    <%= f.password_field :password_confirmation %>
  </div>

  

  <div class="control-group"><%= f.submit "Сохранить", :class => 'btn btn-primary' %></div>
  <% end %>

<h4>Отключить мой аккаунт</h4>

<p>Не довольны? <%= link_to "Отключить мой аккаунт", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %>.</p>

<%= link_to "Назад", :back %>
    </div>
  </div>
</div>


  
