
<div class="container">
    <div class="row">
      <div class="span3">
        <div class="row">
        <br>
          <div class="span1">  
            <%= link_to image_tag("facebook_login.png", size:'40x40'), user_omniauth_authorize_path(:facebook) %></div>
          <div class="span1">
            <p><%= link_to "используя Facebook", user_omniauth_authorize_path(:facebook) %></p></div>
          <div class="span1"></div>
        </div>
        <div class="row">
          <div class="span1">
            <%= link_to image_tag("vkontakte_login.png", size:'40x40'), user_omniauth_authorize_path(:vkontakte) %>
          </div>
          <div class="span1">
            <p><%= link_to "В контакте", user_omniauth_authorize_path(:vkontakte) %></p>
          </div>
          <div class="span1"></div>
        </div>
      </div>

      <div class="span6">
        <h2>Регистрация</h2><br>
              
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
  
  <div>
    <%= f.label :full_name, "Ф.И.О" %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'input-xxlarge' %>
    </div> 
  </div>

  <div>
    <%= f.label :address, "Адрес доставки" %>
    <div class="controls">
      <%= f.text_field :address, :class => "input-xxlarge" %>
    </div>
  </div>
  
  <div>
    <%= f.label :username, "Имя пользователя (прозвище)" %> 
    <%= f.text_field :username %><strong> *</strong>
  </div>
  
  <div>
    <%= f.label :email, "Адрес электронной почты" %>
    <%= f.email_field :email %><strong> *</strong>
  </div>

  <% if f.object.password_required? %>
  <div>
    <%= f.label :password, "Пароль"%>
    <%= f.password_field :password %><strong> *</strong>
  </div>

  <div>
    <%= f.label :password_confirmation, "Подтверждение пароля"%>
    <%= f.password_field :password_confirmation %><strong> *</strong>
  </div>
  <% end %>
  <br>

  
  <div class="control-group"><%= f.submit "Зарегистрироваться", :class => 'btn btn-primary' %></div>

  <% end %>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
