<h2>Изменение вашего пароля</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Новый пароль" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Подтверждение нового пароля" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Изменить мой пароль" %></div>
<% end %>

<%= render "devise/shared/links" %>
