<h2>Забыли ваш пароль?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Адрес электронной почты" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Послать мне инструкции по изменению пароля" %></div>
<% end %>

<%= render "devise/shared/links" %>
