
<ul class="breadcrumb">      
 <% @sections.each do |section| %>
  <small><li><%= link_to section.name, section_path(section.id) %><span class="divider">/</span></li></small>
 <% end %>
</ul>


<div class="container">
  <div class="row">
    
    <div class="span9">
      
      <% if @filter == false %>
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
        
              <div class="active item"><%= image_tag("1_5.jpg", :alt => " ", :class => "round") %></div>
              <div class="item"><%= image_tag("2_1.jpg", :alt => " ", :class => "round") %></div>
              <div class="item"><%= image_tag("3_1.jpg", :alt => " ", :class => "round") %></div>
              <div class="item"><%= image_tag("4_1.jpg", :alt => " ", :class => "round") %></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
      <% else  %>
        <ul class="breadcrumb">      
          <bold><%= @section.name %></bold><br>
          <bold>Брэнд:</bold><br>
          <bold>Фильтр по назначению:</bold><br>
          <bold>Тип поставки:</bold><br>
          <p>
          <label for="amount">Диапазон цен:</label>
          <input type="text" id="amount" style="border: 0; color: #0000ff; font-weight: bold;" />
          </p>
          <script>
          $(function() {
            $( "#slider-range" ).slider({
              range: true,
              min: 0,
              max: 600,
              values: [ 100, 300 ],
              slide: function( event, ui ) {
                $( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
              }
            });
            $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
            " - " + $( "#slider-range" ).slider( "values", 1 ) );
            });     
          </script>
          <div id="slider-range"></div>
        </ul>
      <% end %>    
          <div class="row">
            <div class="span1"></div>
        <div class="span5">
          <p><%= will_paginate @products %></p>
        </div>
        <div class="span3">
          <br><p>
            <a href="<%= section_path(@section.id) %>?novelty=true">Новинки</a>&nbsp;&nbsp;
            <a href="<%= section_path(@section.id)  %>?popular=true">Популярное</a>&nbsp;&nbsp;
            <a href="<%= section_path(@section.id)  %>?filter=true">Фильтр</a>
          </p>
        </div>
      </div>
  
      <div class="row">
        <div class="span1"></div>
          <div class="span8">

          <ul class="thumbnails">  
          <% i = 1 %>
          <% @products.each do |product| %>
          
          <% if i <= 4 %>    
              <li class="span2">
                <div class="thumbnail" align="center" style="border-color:#ffcc00; height: 400px; margin-bottom:5px;">
                <!----begin----->
                <% begin %>          
                  <%= image_tag(product.product_images.first.image.url(:reduced_thumb)) %>
                
                <% rescue %>   
                  <%= image_tag("0/medium.png") %>
                <% end %>
                <!----end-----> 
                  <h5><%= product.name %></h5>
                  <p><small><%= product.function %></small></p>
                  
                          <!-- Button to trigger modal -->
                  <p><a href="#<%= product.id %>"  role="button" class="btn-small" data-toggle="modal">Подробнee...</a></p>
                   
                  <!-- Modal -->
                  <div id="<%= product.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel"><%= product.name %></h3>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="span2">
                        <!----begin----->
                        <% begin %>          
                          <%= image_tag(product.product_images.first.image.url(:reduced_thumb)) %>
                        <% rescue %>   
                          <%= image_tag("0/medium.png") %>
                        <% end %>
                <!----end----->
                        </div>
                      <div class="span2">  </div></div>
                      <p><%= product.description %></p>
                      <p><%= link_to "Еще подробнее", page_path(product.id) + "?image=1" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/reviews?product_id=<%= product.id %>">Отзывы</a></p>
                      <p>Цена: <strong><%= number_to_currency(product.price) %></strong></p>
                    </div>
                    <div class="modal-footer">
                      
                      <%= button_to 'Купить' , line_items_path(product_id: product), :class => 'btn btn-warning', remote: true %>
                      <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                  </div>
                  <!-- Modal -->

              
              <strong><%= number_to_currency(product.price) %></strong>
              
              <%= button_to 'Купить', line_items_path(product_id: product), :class => 'btn btn-warning', remote: true  %>
            </div>
          </li>
            <% i += 1 %>
              <% if i == 4 %>      
              </ul>
              <ul class="thumbnails">                
              <% end %>
              <% i = 1 %>  
            <% end %>              
          <% end %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span1"></div>
        <div class="span5">
          <p><%= will_paginate @products %></p>
        </div>
        <div class="span3">
          <br><p>
            <a href="<%= section_path(@section.id) %>?novelty=true">Новинки</a>&nbsp;&nbsp;&nbsp;
            <a href="<%= section_path(@section.id)  %>?popular=true">Популярное</a>
            </p>
        </div>
      </div>



    </div>
    
    <div class="span3">
      <div id="cart2" data-spy="affix">      
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" align="center"   style="height: 165px; background-color:#ffffff; margin-left: 7px; margin-bottom: 0px; border-color:#ffcc00;">
            <small><%= @ip_meta.city %> - <a href="">выбрать другой город</a></small><br>
            <p>8(3022)39-88-11</p>
            <p>8-800-555-8044<br>
            <small>По России бесплатно</small></p>
            <p><small><a href="">Звонок с сайта</a><br>
            бесплатно</small></p>
            </div>
          </li>
        </ul>    
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" align="center" style="height: 350px; margin-left: 7px; margin-bottom: 0px; border-color:#ffcc00;">
              <h4>В вашей корзине:</h4>                
                <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
                <% end %>
            </div>
          </li>
        </ul>
      </div>  
    </div>
  </div>      
</div>

<%= render "layouts/profooter" %>

<%= render "layouts/footer" %>











  