<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    
    <div class="controls">
      <%= f.hidden_field :status, value: "open", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
      <%= f.hidden_field :user_id, value: current_user.id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Подтвердить заказ", :class => 'btn btn-primary' %>
    <%= link_to t('Отмена', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
  
<% end %>
