<%- model_class = Order -%>
<div class="page-header">
  <h1>Новый заказ</h1>
</div>




<table class="table table-striped">
  
  <tbody>
    <% if user_signed_in? %>
      <tr>        
        <td>Ф.И.О.:</td>
        <td><%= current_user.full_name %></td>
      </tr>
      <tr>        
        <td>Адрес электронной почты:</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>        
        <td>Адрес:</td>
        <td><%= current_user.address %></td>
      </tr>
      <tr>        
        <td></td>
      </tr> 
    <% end %>

        
    
  </tbody>
</table>

<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Физическое лицо
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  Юридическое лицо
</label>




<%= render :partial => 'form' %>
