<%- model_class = Order -%>
<div class="page-header">
  <h1>Ваш заказ</h1>
</div>

<dl class="dl-horizontal" width ="300">
  
  <dt><strong>Номер заказа:</strong></dt>
  <dd><%= @order.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @order.status %></dd>
  <dt><strong>Пользователь:</strong></dt>
  <dd><%= current_user.full_name %></dd>
  <dt><strong>Адрес:</strong></dt>
  <dd><%= current_user.address %></dd>
  <dt><strong>Email:</strong></dt>
  <dd><%= current_user.email %></dd>
  
  <% @line_items.each do |line_item| %>
  <dt>x<%= line_item.quantity %></dt>
  <dd><%= number_to_currency(line_item.product.price) %>&nbsp;&nbsp;&nbsp;&nbsp;<strong><%= line_item.product.name %></strong></dd>
  <% end %>
  <dt><strong>Итого:</strong></dt>
  <dd><strong><%= number_to_currency(@final_price) %></strong></dd>
</dl>

<div class="form-actions">
  
  
  <%= link_to t('Удалить', :default => t("helpers.links.destroy")),
              order_path(@order),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
              :class => 'btn' %>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://secure.onpay.ru/pay/aponik_herokuapp_com?pay_mode=fix&f=7&price=<%= @final_price %>&currency=RUR&pay_for=<%= @order.id %>&convert=no&price_final=true&user_email=<%= current_user.email %>&url_success=http%3A//aponik.herokuapp.com/pay/congratulations&url_fail=http%3A//aponik.herokuapp.com/pay/attention" target="_blank"><button class="btn btn-large btn-warning" type="button">Оплатить через Onpay.ru</button></a>

</div>
