<ul class="breadcrumb">      
 <% @sections.each do |section| %>
  <li><%= link_to section.name, section_path(section.id) %><span class="divider">/</span></li>
 <% end %>
</ul>


<div class="container">
  <div class="row">
    <div class="span9">
      <h2>Результаты поиска в каталоге</h2>


<% @products.each do |product| %>
  <table width="40%"><tr>
    <td><%= product.id %></td>
    <td align="center"><%= link_to product.name, page_path(product.id) + "?image=1" %></td>
  </tr>
  </table>
<% end %>

    </div>
  </div>
</div>
