
<div class="container">
  <div class="row">
    <div class="span9">
      <p>Магазин / <%= @section.name %> / <%= @brand.name %> / <%= @product.name %></p>
      <h3><%= @product.name %></h3>
      <div class="row">

          
      <div class="span6">
      <div id="image1" class="span3">
<!----begin----->
<% begin %>          
        <% product_image = @product.product_images.first %>
        <%= link_to(image_tag(product_image.image.url(:medium_thumb)), product_image.image.url) %>
        </div>
        <div class="span2">&nbsp;</div>
<!----end----->
<% rescue %>
        <%= image_tag("0/medium.png", :alt => "X", size:'280x300', :class => "img-polaroid") %>
        </div>
      
      <div class="span2">

<!-- ************************-->
        <!-- Button to trigger modal -->
          <a class="btn btn-small" href="#image" data-toggle="modal"><i class="icon-zoom-in"></i></a>
         
        <!-- Modal -->
        <div id="image" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><%= @product.name %></h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="span4">
            <%= image_tag("0/large.png", size:'500x500') %>
              </div>
            </div>
          </div>
        </div>

<!-- **********************-->     
      </div>
<% end %>        
      
      

      <div class="span5">
        <p></p>
        <p>Другие изображения</p>
<!----begin----->
<% begin %>
        <% @product.product_images.each do |product_image| %>
        <%= link_to(image_tag(product_image.image.url(:small_thumb)), product_image.image.url) %>
        <% end %>
<!--end-->
<% rescue %>
        <%= image_tag("0/small.png") %>
<% end %>          
        </div>
      </div>

      <div class="span3">      
          <ul class="thumbnails">
            <li class="span3">
            <div class="thumbnail" align="center" style="background-color:#ffffff; margin-left: 0px; margin-bottom: 0px;">
            <strong>
              Есть в наличии. </strong> Артикул <strong><%= @product.article %></strong><br>
            <h3><%= number_to_currency(@product.price) %></h3>
            <%= button_to 'Купить' , line_items_path(product_id: @product), :class => 'btn btn-warning', remote: true %>
            </div>
          </li>
        </ul>

        <ul class="thumbnails">
            <li class="span3">
            <div class="thumbnail">
            <small>Ваш город <%= @ip_meta.city %> - <a href="">изменить</a></small><br>
            <strong>Способы доставки:<br></strong>
            <% @deliveries.each do |delivery| %>
              <small><%= delivery.how %>&nbsp;-&nbsp;
              <%= number_to_currency(delivery.price) %><br></small>
            <% end %>
            
            
            </div>
          </li>
        </ul>
</div>   

    </div>      
          <br>
          <div class="row">
            <div class="span9">
              <div class="tabbable"> 
                <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Описание</a></li>
                <li><a href="#tab2" data-toggle="tab">Отзывы</a></li>
                </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <p><%= @product.description %></p>
                </div>
                <div class="tab-pane" id="tab2">
                  <% if @review != nil %>
                    <p><%= @review.content %></p>
                    <p><%= @review.created_at.strftime("%d-%m-%Y в %H:%M:%S") %>&nbsp;&nbsp;&nbsp;
                  
                    </p>
                    <p><a href="/reviews?product_id=<%= @product.id %>">Все отзывы</a></p>
                  <% else %>
                    <p>Об этом продукте пока нет отзывов. Вы можете оставить свой отзыв <a href="/reviews?product_id=<%= @product.id %>">здесь.</a></p>
                  <% end %>
                </div>
              </div>
            </div>  
            
          </div>
        </div>
      
          
          <div class="row">
            <div class="span1"></div>
        <div class="span6">
          <p><%= will_paginate @products %></p>
        </div>
        <div class="span2">
          <br>
          </p>
        </div>
      </div>
  
      <div class="row">
        <div class="span1"></div>
          <div class="span8">

          <ul class="thumbnails">  
          <% i = 1 %>
          <% @products.each do |product| %>
          
          <% if i <= 4 %>    
              <li class="span2">
                <div class="thumbnail" align="center" style="border-color:#ffcc00;">
                  <%= image_tag(product.image_link, :alt => "Picture", size:'120x120', :class => "img-polaroid") %>
                  <h5><%= product.name %></h5>
                  <p><small><%= product.function %></small></p>
                  
                          <!-- Button to trigger modal -->
                  <p><a href="#<%= product.id %>"  role="button" class="btn-small" data-toggle="modal">Подробнee...</a></p>
                   
                  <!-- Modal -->
                  <div id="<%= product.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="myModalLabel"><%= product.name %></h3>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="span2">
                      <%= image_tag(product.image_link) %></div>
                      <div class="span2">  </div></div>
                      <p><%= product.description %></p>
                      <p><%= link_to "Еще подробнее", page_path(product.id) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/reviews?product_id=<%= product.id %>">Отзывы</a></p>
                      <p>Цена: <strong><%= number_to_currency(product.price) %></strong></p>
                    </div>
                    <div class="modal-footer">
                      
                      <%= button_to 'Купить' , line_items_path(product_id: product), :class => 'btn btn-warning', remote: true %>
                      <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                  </div>

      
              <strong><%= number_to_currency(product.price) %></strong>
              <%= button_to 'Купить', line_items_path(product_id: product), :class => 'btn btn-warning', remote: true %>
            </div>
          </li>
            <% i += 1 %>
              <% if i == 4 %>      
              </ul>
              <ul class="thumbnails">                
              <% end %>
              <% i = 1 %>  
            <% end %>              
          <% end %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="span1"></div>
        <div class="span6">
          <p><%= will_paginate @products %></p>
        </div>
        <div class="span2">
          <br><p>
            </p>
        </div>
      </div>

    </div>

<!-- ***********************************  -->  
    
    <div class="span3">
      <div id="cart2" data-spy="affix">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" align="center"   style="height: 165px; background-color:#ffffff; margin-left: 7px; margin-bottom: 0px; border-color:#ffcc00;">
            <small><%= @ip_meta.city %> - <a href="">выбрать другой город</a></small><br>
            <p>8(3022)39-88-11</p>
            <p>8-800-555-8044<br>
            <small>По России бесплатно</small></p>
            <p><small><a href="">Звонок с сайта</a><br>
            бесплатно</small></p>
            </div>
          </li>
        </ul>            
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" align="center" style="height: 400px; background-color:#ffffff; margin-left: 7px; margin-bottom: 0px; border-color:#ffcc00;">
              <h4>В вашей корзине:</h4>                
                <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                <%= render @cart %>
                <% end %>
            </div>
          </li>
        </ul>
      </div>  
    </div>
  </div>      
</div>
<%= render "layouts/profooter" %>
<%= render "layouts/footer" %>



