  <table width="100%">
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td colspan="2">Всего: </td>
    <td class="total_cell"><strong><%= number_to_currency(cart.total_price) %></strong></td>
  </tr>
</table>
<br>
<div style="font-color:#000000;">
	<%= button_to 'Очистить корзину', cart, method: :delete, :class => 'btn', remote: true %>
    <%= button_to "Оформить заказ", new_order_path, method: :get, :class => 'btn btn-warning' %>
</div>