<%= form_for @var, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :novelty_period, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :novelty_period, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :novelty_duration, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :novelty_duration, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vars_path, :class => 'btn' %>
  </div>
<% end %>
