<%- model_class = Var -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:novelty_period) %>:</strong></dt>
  <dd><%= @var.novelty_period %></dd>
  <dt><strong><%= model_class.human_attribute_name(:novelty_duration) %>:</strong></dt>
  <dd><%= @var.novelty_duration %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vars_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_var_path(@var), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              var_path(@var),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
