<% if user_signed_in? %>
<p>Уважаемый <%= current_user.full_name %> !</p>
<p>Вы совершили покупку в интернет-магазине ItPact.</p>
<p>Ваша покупка будет отправлена Вам в ближайшее время.</p>
<% end %>
