<div class="container">
    <div class="row">
      <div class="span3">
        <div class="row">
        <br>
          <div class="span1">  
            <%= link_to image_tag("facebook_login.png", size:'40x40'), user_omniauth_authorize_path(:facebook) %></div>
          <div class="span1">
            <p><%= link_to "используя Facebook", user_omniauth_authorize_path(:facebook) %></p></div>
          <div class="span1"></div>
        </div>
        <div class="row">
          <div class="span1">
            <%= link_to image_tag("vkontakte_login.png", size:'40x40'), user_omniauth_authorize_path(:vkontakte) %>
          </div>
          <div class="span1">
            <p><%= link_to "В контакте", user_omniauth_authorize_path(:vkontakte) %></p>
          </div>
          <div class="span1"></div>
        </div>
      </div>

      
      <div class="span6">
        <h2>Вход</h2><br>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>              

  <div>
    <%= f.label :email, "Адрес электронной почты" %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.label :password, "Пароль"%>
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "запомнить меня" %></div>
  <% end -%>

  <br>

  <div class="control-group"><%= f.submit "Войти", :class => 'btn btn-primary' %></div>

  <% end %>
<%= render "devise/shared/links" %>
    </div>  
  </div>
</div>
