// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 70%;
  margin: 0 auto;
  border-radius: 18px;
  background-color: #ffffcc;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#login {
  font-size: 14px;
  float: right;
}

#page {
  background-color: #ffffff;
  width: 600px;
  margin: 0;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 30px;
}

#content{
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

#link {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 10px;
  margin: 20px 0;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_reviews {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_reviews h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_reviews p {
  margin: 8px 10px;
}

.error_reviews ul {
  margin: 0;
}

.review {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #ffff99),
      color-stop(1, #ffcc66)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #ffff99 0%,
      #ffcc66 100%
  );
}

.review .content a {
  color: #000;
  text-decoration: none;
}

.review .created_at {
  color: #FF3300;
  font-size: 12px;
  float: right;
}

.review .actions {
  font-size: 12px;
  margin-top: 5px;
}

.review .actions a {
  text-decoration: none;
}

.review_root {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #ffff99),
      color-stop(1, #99ff33)
);
background-image: -moz-linear-gradient(
      center bottom,
      #ffff99 0%,
      #99ff33 100%
  );
}

.review_root .content a {
  color: #000;
  text-decoration: none;
}

.review_root .created_at {
  color: #FF3300;
  font-size: 12px;
  float: right;
}

.review_root .actions {
  font-size: 12px;
  margin-top: 5px;
}

.review_root .actions a {
  text-decoration: none;
}

.review_stop {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 300px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #FFFFFF),
      color-stop(1, #66cccc)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #FFFFFF 0%,
      #66cccc 100%
  );
}

.review_stop .content a {
  color: #000;
  text-decoration: none;
}

.review_stop .created_at {
  color: #FF3300;
  font-size: 12px;
  float: right;
}

.review_stop .actions {
  font-size: 12px;
  margin-top: 5px;
}

.review_stop .actions a {
  text-decoration: none;
}


.nested_reviews {
  margin-left: 50px;
}

.nested_reviews .nested_reviews .nested_reviews .nested_reviews .nested_reviews .nested_reviews .nested_reviews .nested_reviews .nested_reviews .nested_reviews {
  margin-left: 0;
}