<p>Добро пожаловать! <%= @resource.email %>!</p>

<p>Вы можете подтвердить ваш адрес электронной почты через линк:</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
