<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то сделал запрос на изменение вашего пароля. Вы можете изменить пароль через эту ссылку.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не запрашивали изменения пароля, пожалуйста игнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен в этом случае.</p>
