<p>Добро пожаловать <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток входа.</p>

<p>Кликните на ссылку для разблокирования вашего аккаунта:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
