<%= form_for @product, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :section_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :section_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :article, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :article, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :novelty, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :novelty, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :novelty_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :novelty_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :novelty_margin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :novelty_margin, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :novelty_change_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :novelty_change_at, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :novelty_force, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :novelty_force, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :popular, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :popular, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :popular_lock, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :popular_lock, :class => 'check_box' %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :delivery_method, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :delivery_method, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :function, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :function, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :brand_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_link, :class => 'text_field' %>
    </div>
  </div>

  <%= f.fields_for :product_images do |product_image| %>
    <% if product_image.object.new_record? %>
      <%= product_image.file_field :image %>
    <% else %>
    <div>
      <%= image_tag(product_image.object.image.url(:small_thumb)) %>
      <p><%= product_image.check_box :_destroy %>Удалить</p>
    </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
    <%= link_to t('Отмена', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
