<%- model_class = Product -%>
<div class="page-header">
  <h2>Продукты</h2>
</div>
<div class="row">
  <div class="span8">
    <p><%= will_paginate @products %></p>
  </div>
</div>   
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:section_id) %></th>
      <th><%= model_class.human_attribute_name(:article) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>      
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:novelty) %></th>
      <th><%= model_class.human_attribute_name(:popular) %></th>      
      <th><%= model_class.human_attribute_name(:delivery_method) %></th>      
      <th><%= model_class.human_attribute_name(:brand_id) %></th>
      <th><%= model_class.human_attribute_name(:image_link) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.section_id %></td>
        <td><%= product.article %></td>
        <td><%= product.name %></td>
        
        <td><%= product.price %></td>
        <td><%= product.novelty %></td>
        <td><%= product.popular %></td>
        <td><%= product.delivery_method %></td>
        
        <td><%= product.brand_id %></td>
        <td><%= product.image_link %></td>
        <td><%=l product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('Новый', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
