<%- model_class = Product -%>
<div class="page-header">
  <h2>Продукт</h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:section_id) %>:</strong></dt>
  <dd><%= @product.section_id %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:article) %>:</strong></dt>
  <dd><%= @product.article %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:novelty) %>:</strong>
  <dd><%= @product.novelty %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:novelty_at) %>:</strong></dt>
  <dd><%= @product.novelty_at %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:novelty_margin) %>:</strong></dt>
  <dd><%= @product.novelty_margin %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:novelty_change_at) %>:</strong></dt>
  <dd><%= @product.novelty_change_at %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:novelty_force) %>:</strong></dt>
  <dd><%= @product.novelty_force %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:novelty) %>:</strong>
  <dd><%= @product.popular %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:popular) %>:</strong></dt>
  <dd><%= @product.delivery_method %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:function) %>:</strong></dt>
  <dd><%= @product.function %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:brand_id) %>:</strong></dt>
  <dd><%= @product.brand_id %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:image_link) %>:</strong></dt>
  <dd><%= @product.image_link %></dd><br>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
