<%= form_for @review, :html => { :class => 'form-horizontal' } do |f| %>
   <% if user_signed_in? %>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>
  </div>
  
      <%= f.hidden_field :product_id, value: params[:product_id] %>
    
      <%= f.hidden_field :user_id, value: current_user.id %>
   
      <%= f.hidden_field :parent_id %>

  <div class="form-actions">
    <%= f.submit "Написать отзыв", :class => 'btn btn-primary' %>
  </div>
  <% else %>
  <p>Оставлять отзывы могут только зарегистрированные пользователи.
    Если вы уже зарегистрированы,  <%= link_to "входите", new_user_session_path %>.</p>
  <% end %>
<% end %>
