<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>
    <div class="review_stop">
  <% else%>
    <% if review.ancestry == nil%>
      <div class="review_root">
    <% else %>
      <div class="review">
    <% end %>
  <% end %>  
<% else%>
  <% if review.ancestry == nil%>
    <div class="review_root">
  <% else %>
    <div class="review">
  <% end %>
<% end %>
  <div class="created_at"><%= review.created_at.strftime("%d-%m-%Y в %H:%M:%S") %></div>
  <div class="content">
    <%= link_to review.content, review %>
  </div>
  <div class="actions">
    <% if review.user.username != nil %>
    <%= review.user.username %>
    <% end %>
    <br>
    <%= link_to "Ответить", new_review_path(:parent_id => review, :product_id => review.product_id) %>
    <% if user_signed_in? %>
      <% if review.user_id == current_user.id %>
      | <%= link_to "Удалить", review, :confirm => "Вы уверены?", :method => :delete %>
      <% end %>
    <% end %>

  </div>
</div>