<ul class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="span12">
		<h1>Отзывы</h1>
		<br />
		<% if admin_signed_in? %>
		  <tbody>
            <% @reviews.each do |review| %>
		      <tr>
		      <td><%= link_to review.id, review_path(review) %></td>
		      <td><%= review.product_id %></td>
		      <td><%= review.user_id %></td>
		      <td><%= review.content %></td>
		      <td>
		    <% end %>	
		<% else %>
		<%= nested_reviews @reviews.arrange(:order => :created_at) %>
		<% end %>
		<br />
		<%= render "form" %>
		<br />
      </div>
    </div>  
  </div>
</ul>  