<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
      <td align="center" > <%= line_item.quantity %>&times; </td>
      <td align="center"> <%= line_item.product.name %> </td>
      <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
      
    </tr>
