 $("#notice").hide();

if ($('#cart tr').length == 1) { $('#cart').show('blind', 1000); }

$('#cart').html('<%=j render @cart %>');

$('#current_item').css({'background-color':'#ffdd00'}).animate({'background-color':'#ffffff'}, 1000);