<div class="container">
  <div class="row">
    <div class="span2">
      <a href="http://webmoney.ru/"><%= image_tag("101.jpg", size:'90x50') %></a>
    </div>
    <div class="span2">
      <a href="https://money.mail.ru/"><%= image_tag("102.gif", size:'90x49') %></a>
    </div>
    <div class="span2">
      <a href='https://www.moneymail.ru/'><%= image_tag("103.jpg", size:'90x50') %></a>
    </div>
    <div class="span2">
      <a href='http://www.libertyreserve.com/'><%= image_tag("104.jpg", size:'90x50') %></a>
    </div>
    <div class="span2">
      <a href='http://liqpay.com/'><%= image_tag("105.jpg", size:'90x50') %></a>
    </div>
    </div>
    <div class="row">
    <div class="span2">
      <a href="http://platezh.ru/"><%= image_tag("106.jpg", size:'90x50') %></a>
    </div>
    <div class="span2">
      <a href='http://w1.ru/'><%= image_tag("107.jpg") %></a>
    </div>
    <div class="span2">
      <a href='http://money.yandex.ru/'><%= image_tag("108.gif") %></a>
    </div>
    <div class="span2">
      <a href='http://card.ruru.ru/'><%= image_tag("109.gif", size:'90x50') %></a>
    </div>
    <div class="span2">
      <a href="http://www.privatbank.ru/"><%= image_tag("110.gif", size:'90x49') %></a>
    </div>
    </div>
    <div class="row">
    <div class="span2">
      <a href='http://sbrf.ru/'><%= image_tag("111.jpg") %></a>
    </div>
    <div class="span2">
      <a href="http://elecsnet.ru/"><%= image_tag("112.gif") %></a>
    </div>
    <div class="span2">
      <a href="http://euroset.ru/"><%= image_tag("113.jpg", size:'120x32') %></a>
    </div>
    <div class="span2">
      <a href="http://novo-plat.ru/"><%= image_tag("114.gif", size:'91x40') %></a>
    </div>
    <div class="span2">
      <a href='http://qiwi.ru/'><%= image_tag("132.gif") %></a>
    </div>
    </div>
    <div class="row">
    <div class="span2">
      <a href='http://www.leadermt.ru/'><%= image_tag("118.jpg", size:'100x40') %></a>
    </div>
    <div class="span2">
      <a href='http://www.contact-sys.com/'><%= image_tag("117.jpg", size:'86x40') %></a>
    </div>
    <div class="span2">
      <a href="http://www.korona.net/"><%= image_tag("119.jpg", size:'100x40') %></a>
    </div>
    <div class="span2">
      <a href="http://www.visa.com"><%= image_tag("120.jpg", size:'64x40') %></a>
    </div>
    <div class="span2">
      <a href='http://www.mastercard.com'><%= image_tag("121.jpg", size:'62x40') %></a>
    </div>
    <div class="span4"></div>  
  </div>
</div>
<hr style="height:2px;color:#555555">
<div class="row">
    <div class="span4"></div>
    <div class="span5">
      <p>
        &copy; 2013 ITPACT &nbsp;&nbsp;<a href="">О компании</a>
        &nbsp;&nbsp;<a href="">Документация</a>
        &nbsp;&nbsp;<a href="">Вакансии</a>
      </p>
    </div>
    <div class="span3"></div>
