  <br>
  <div class="container" style="width: 940px">
    <div class="row">
      <div class="span1"><%= image_tag("main_logo.png", size:"120x34") %></div>
        <div class="span2"><br>
        <h3>Айти-Пакт</h3></div>
        <div class="span9"><p><small>
        &nbsp;&nbsp;<%= link_to "Главная", "/sections/1" %>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Услуги и цены</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Документация</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Удаленная помощь</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Конфигуратор ПК</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Программное обеспечение", "/sections/1" %></small>
      </p>

    
    <div class="navbar">
      <div class="navbar-inner">
      
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <%= form_tag pages_path, :class => "navbar-search pull-left", :method => :get do %>
        <%= text_field_tag :query, params[:query], :class => "search-query span4", :placeholder => "Поиск по каталогу" %>
        <% end %>

        <% if user_signed_in? %>   
<ul class="nav nav-pills pull-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>
      <% if current_user.username != "" %>
        <%= current_user.username %>
      <% else %>
        <%= current_user.email %>
      <% end %>  
    </strong> <b class="caret"></b></a>
    <ul id="menu1" class="dropdown-menu">
      <li><%= link_to 'Профиль', edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>
</ul>        

<% else %>
  
    <div class="nav-collapse pull-right">    
    <ul class="nav">
              
      <li><%= link_to "Регистрация", new_user_registration_path %></li>
      <li><%= link_to "Вход", new_user_session_path %></li>
    </ul>
  </div>

<% end %>
          </div>     
        </div>     
      </div>      
    </div>     
  </div>

