<br>
  <div class="container" style="width: 940px">
    <div class="row">
      
        

    
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Админка</a>
      
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        
        <% if admin_signed_in? %>
<ul class="nav nav-pills">  
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Меню<b class="caret"></b></a>
    <ul id="menu2" class="dropdown-menu">
      <li><%= link_to "Товары", products_path %></li>
      <li><%= link_to "Брэнды", brands_path %></li>
      <li><%= link_to "Разделы", sections_path %></li>
      <li><%= link_to "Заказы", orders_path %></li>
      <li><%= link_to "Отзывы", reviews_path %></li>
      <li><%= link_to "Доставка", deliveries_path %></li>
      <li><%= link_to "Переменные", vars_path %></li>
    </ul>
  </li>
</ul>
        <% end %>
        <% if admin_signed_in? %>
<ul class="nav nav-pills pull-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>
        <%= current_admin.email %>  
    </strong> <b class="caret"></b></a>
    <ul id="menu1" class="dropdown-menu">
      <li class="divider"></li>
      <li><%= link_to "Выход", destroy_admin_session_path, method: :delete %></li>
    </ul>
  </li>
</ul>        
<% end %>
          </div>     
        </div>     
      </div>      
    </div>     
  </div>

