<div class="span9">
<ul class="breadcrumb">
<div class="container">
    <div class="row">
      
  
    <small>
    <div class="span3">
<% num_column = products_calculation %>
<% num_prod = 0  %>
<% @sections.each do |section| %>
  <strong><%= link_to section.name, section_path(section.id) %></strong><br>
  <% num_prod += 1 %>
  <% if num_prod == num_column %>
    </div>
    <div class="span3">
    <% num_prod = 0 %>
  <% end %>   

  <% section.products.each do |product| %>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to product.name, page_path(product.id) + "?image=1" %><br>
    <% num_prod += 1 %>
    <% if num_prod == num_column %>
    </div>
    <div class="span3">
      <% num_prod = 0 %>
    <% end %>   

  <% end %>
<% end %>
            </div></small>
          <div class="span9">&nbsp;</div>
        </div>
      </div> 
    </div>
  </ul>
</div>