<!DOCTYPE html>
<html>
<head>
  <title>Itpact</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    var spinner = $('#topbottom input').spinner();
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if admin_signed_in? %>
  <%= render "layouts/managebar" %>
  <% else %>
  <%= render "layouts/header" %>
  <% end %>



<div class="container">
  <div class="container">
    <div class="row">
  
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
  </div></div></div>


  <div class="container">
    <div class="row">
      <div class="span12"><%= yield %></div>
    </div>
      
    </div>
  </body>
</html>
